@charset "UTF-8";
/**
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Botones
 *  - Version: 5.0.0
*/

html {
  font-size: 100%;
  /* 100% = 16px */
}

:root {
  --govcolor-cobalt: #0943B5;
  --govcolor-white: #FFFFFF;
  --govcolor-havelock-lue: #4672C8;
  --govcolor-tropical-blue: #B5C7E9;
  --govcolor-black: #000000;
  --govcolor-silver-dis: #C8C8C8;
  --govcolor-solitude: #E5ECF8;
  --govcolor-grey: #7E7E7E;
  --govcolor-matterhorn: #4C4C4C;
  --govcolor-silver: #B9B9B9;
  --govcolor-svg-cobalt: invert(20%) sepia(53%) saturate(3248%) hue-rotate(212deg) brightness(97%) contrast(107%);
  --govcolor-svg-white: invert(100%) sepia(100%) saturate(2%) hue-rotate(61deg) brightness(103%) contrast(101%);
  --govcolor-svg-silver-dis: invert(92%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(91%) contrast(83%);
  --govcolor-svg-havelock-lue: invert(41%) sepia(68%) saturate(553%) hue-rotate(181deg) brightness(90%) contrast(89%);
  --govcolor-svg-tropical-blue: invert(81%) sepia(24%) saturate(403%) hue-rotate(187deg) brightness(94%) contrast(93%);
}

/* Verdana-Regular */
@font-face {
  font-family: 'Verdana-Regular';
  src: url('../assets/fonts/Verdana/static/Verdana-Regular.ttf');
}

/* Fuente iconografica */
@font-face {
  font-family: "govco-fontv5";
  src: url("../assets/icons/fonts/gov-co-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.text1-govco {
    font-size: 18px;
 }

.container-govco{
    height: 2.625rem;
    background-color:var(--govcolor-white);
    border: 0.125rem solid var(--govcolor-cobalt);
    border-radius: 1.5rem;
    width: 100%;
    align-items: center;
    padding-right: 2px;
}

.container-govco.active{
  outline-offset: 0.125rem;
  outline: 0.125rem solid var(--govcolor-black);
}

.govco-search-basic .btn-search-basic-govco,
.govco-search-predictive .btn-search-predictive-govco {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.govco-search-basic .govco-svg.govco-search,
.govco-search-predictive .govco-svg.govco-search {
  background-image: url(../assets/icons/search.svg);
  min-width: 1rem;
  min-height: 1rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  filter: var(--govcolor-svg-white);
}

.govco-search-basic .govco-svg.govco-times,
.govco-search-predictive .govco-svg.govco-times {
  background-image: url(../assets/icons/times.svg);
  min-width: 1.125rem;
  min-height: 1.125rem;
  display: flex;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  filter: var(--govcolor-svg-cobalt);
}

.govco-search-basic .govco-svg.govco-times:hover,
.govco-search-predictive .govco-svg.govco-times:hover {
  filter: var(--govcolor-svg-tropical-blue);
}

/* ==================================Buscador Basico ==================================================*/

.govco-search-basic{
    height: 2.625rem;
    width: -webkit-fill-available;
}

.govco-search-basic input[type=text].input-search-basic-govco{
    border: none;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: -webkit-fill-available;
    height: 2.35rem;
    padding-left: 1.25rem;
    text-align: left;
    color: var(--govcolor-matterhorn);
    font-weight: normal;
    letter-spacing: 0rem;
    font-size: 0.938rem;
    margin: 0rem;
    box-shadow: none;
}

.govco-search-basic input[type=text].input-search-basic-govco::placeholder{
  color: var(--govcolor-matterhorn);
}

.govco-search-basic .btn-clean-basic-govco{
    border: none;
    background: var(--govcolor-white);
    height: 2.35rem;
}

.govco-search-basic .btn-search-basic-govco{
    border: none;
    background: var(--govcolor-cobalt);
    height: 2.25rem;
    border-radius: 50% !important;
    width: 2.36rem;
    margin-left: 0.375rem;
}

.line-basic-govco{
    height: 1.875rem;
    width: 0;
    border: 1px solid var(--govcolor-grey);
}

.govco-search-basic input[type=text].input-search-basic-govco:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

/* #input-basic, #input-disabled{
    width: 93.3%;
} */

.container-govco.disabled{
    border: 1px solid var(--govcolor-silver);
    background-color: var(--govcolor-white);
}

.govco-search-basic input[type=text].input-search-basic-govco:disabled{
  color: var(--govcolor-silver);
  background-color: var(--govcolor-white);
}

.govco-search-basic input[type=text].input-search-basic-govco:disabled::placeholder{
  color: var(--govcolor-silver);
}

.govco-search-basic .btn-search-basic-govco:disabled{
    background: var(--govcolor-silver);
}

.govco-search-basic .btn-clean-basic-govco,
.govco-search-basic .line-basic-govco{
  display: none;
}

.govco-search-basic .btn-clean-basic-govco.active,
.govco-search-basic .line-basic-govco.active{
  display: block;
}

.govco-search-basic .btn-search-basic-govco.disabled{
  background-color: var(--govcolor-silver);
  cursor: not-allowed;
  pointer-events: none;
}

.govco-search-basic-govco:disabled{
  background: var(--govcolor-white);
  color: var(--govcolor-silver);
  cursor: not-allowed;
  pointer-events: none;
}

/* =========================FIN BUSCADOR BASICO============================ */

/* ======================== LISTADO PREDICTIVO ============================ */

 .govco-search-predictive input[type=text].input-search-predictive-govco{
  border: none;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: -webkit-fill-available;
  height: 2.35rem;
  padding-left: 1.25rem;
  text-align: left;
  color: var(--govcolor-matterhorn);
  font-weight: normal;
  letter-spacing: 0rem;
  font-size: 0.938rem;
  margin: 0px;
  box-shadow: none;
}

.govco-search-predictive input[type=text].input-search-predictive-govco::placeholder{
 color: var(--govcolor-matterhorn);
}

.govco-search-predictive .btn-clean-predictive-govco{
  border: none;
  background: var(--govcolor-white);
  height: 2.35rem;
}

.govco-search-predictive .btn-search-predictive-govco{
  border: none;
  background: var(--govcolor-cobalt);
  height: 2.25rem;
  border-radius: 50% !important;
  width: 2.36rem;
  margin-left: 0.375rem;
}

.line-predictive-govco{
  height: 1.875rem;
  width: 0;
  border: 1px solid var(--govcolor-grey);
}

.govco-search-predictive input[type=text].input-search-predictive-govco:focus{
  outline: none;
  border: none;
  box-shadow: none;
}

.govco-search-predictive .options-search-govco ul li a {
    color: #4B4B4B;
    font-size: 16px;
    font-family: WorkSans-Regular;
    padding: 0.75rem 0 0.75rem 1rem;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.govco-search-predictive .options-search-govco {
  max-height: 9.063rem;
  margin-top: 0;
  overflow-y: auto;
  margin-bottom: 0.5rem;
}

.govco-search-predictive .container-options-search-govco{
    height: auto;
    border: 0.094rem solid var(--govcolor-cobalt);
    padding-top: 45px;
    margin-top: -42px;
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
}

  .govco-search-predictive .options-search-govco::-webkit-scrollbar {
    width: 0.5rem;
  }

  .govco-search-predictive .options-search-govco::-webkit-scrollbar-track {
    background: #E5ECF8  0% 0% no-repeat padding-box;
    border-radius: 0.75rem;
  }

  .govco-search-predictive .options-search-govco::-webkit-scrollbar-thumb {
    background: #004884 0% 0% no-repeat padding-box;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 0.188rem 0.375rem #00000029;
    -moz-box-shadow: 0 0.188rem 0.375rem #00000029;
    box-shadow: 0 0.188rem 0.375rem #00000029;
    border: 0.125rem solid transparent;
  }

  .govco-search-predictive .options-search-govco ul {
    margin: 0;
    text-align: left;
    list-style: none;
    padding-left: 0;
  }

  .govco-search-predictive .options-search-govco ul li a {
    color: #4C4C4C;
    font-size: 0.938rem;
    padding: 0.75rem 0 0.75rem 1rem;
    cursor: pointer;
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
    text-decoration: none;
  }

  .govco-search-predictive .options-search-govco ul li:hover,
  .govco-search-predictive .options-search-govco ul li a.active {
    background: #E6EFFD;
  }
  
  .govco-search-predictive .options-search-govco ul li a.active {
    background-color: var(--govcolor-cobalt);
    color: var(--govcolor-white);
  }

  .govco-search-predictive .btn-search-predictive-govco.disabled{
    background-color: var(--govcolor-silver);
    cursor: not-allowed;
    pointer-events: none;
  }
  
  .govco-search-predictive input[type=text].input-search-predictive-govco:disabled{
    background: var(--govcolor-white);
    color: var(--govcolor-silver);
    cursor: not-allowed;
    pointer-events: none;
  }

  
  .govco-search-predictive input[type=text].input-search-predictive-govco:disabled::placeholder{
    color: var(--govcolor-silver);
  }
  


  /* ==============================FIN BUSCADOR PREDICTIVO=================================== */