@charset "UTF-8";
/**
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Color
 *  - Version: 5.0.0
*/

html {
  font-size: 100%;
  /* 100% = 16px */
}

:root {
  --govcolor-cobalt: #0943B5;
  --govcolor-black: #000000;
  --govcolor-matterhorn: #4C4C4C;
  --govcolor-grey: #7E7E7E;
  --govcolor-white: #FFFFFF;
  --govcolor-havelock-lue: #4672C8;
  --govcolor-tropical-blue: #B5C7E9;
  --govcolor-golden-brown: #9D7700;
  --govcolor-sunglow: #FECC2F;
  --govcolor-vis-vis: #FEE697;
  --govcolor-silver: #B9B9B9;
  --govcolor-silver-dis: #C8C8C8;
  --govcolor-solitude: #E5ECF8;
  --govcolor-corn-silk: #FFFAE8;
  --govcolor-white-smoke: #F4F4F4;
  --govcolor-portage: #83A0DA;
  --govcolor-red: #A80521;
  --govcolor-orange: #F0572D;
  --govcolor-yellow: #FDAA29;
  --govcolor-green: #158361;
  --govcolor-tulip: #E8A045;
  --govcolor-svg-cobalt: invert(20%) sepia(53%) saturate(3248%) hue-rotate(212deg) brightness(97%) contrast(107%);
  --govcolor-svg-black: invert(0%) sepia(100%) saturate(16%) hue-rotate(90deg) brightness(99%) contrast(102%);
  --govcolor-svg-matterhorn: invert(29%) sepia(0%) saturate(1044%) hue-rotate(165deg) brightness(94%) contrast(88%);
  --govcolor-svg-grey: invert(51%) sepia(0%) saturate(7%) hue-rotate(230deg) brightness(96%) contrast(84%);
  --govcolor-svg-white: invert(100%) sepia(100%) saturate(2%) hue-rotate(61deg) brightness(103%) contrast(101%);
  --govcolor-svg-havelock-lue: invert(41%) sepia(68%) saturate(553%) hue-rotate(181deg) brightness(90%) contrast(89%);
  --govcolor-svg-tropical-blue: invert(81%) sepia(24%) saturate(403%) hue-rotate(187deg) brightness(94%) contrast(93%);
  --govcolor-svg-golden-brown: invert(37%) sepia(60%) saturate(2414%) hue-rotate(35deg) brightness(97%) contrast(101%);
  --govcolor-svg-sunglow: invert(77%) sepia(98%) saturate(825%) hue-rotate(331deg) brightness(104%) contrast(99%);
  --govcolor-svg-vis-vis: invert(82%) sepia(71%) saturate(278%) hue-rotate(335deg) brightness(102%) contrast(99%);
  --govcolor-svg-silver: invert(76%) sepia(0%) saturate(0%) hue-rotate(139deg) brightness(104%) contrast(77%);
  --govcolor-svg-silver-dis: invert(92%) sepia(0%) saturate(0%) hue-rotate(140deg) brightness(91%) contrast(83%);
  --govcolor-svg-solitude: invert(100%) sepia(84%) saturate(1147%) hue-rotate(178deg) brightness(103%) contrast(94%);
  --govcolor-svg-corn-silk: invert(96%) sepia(5%) saturate(1469%) hue-rotate(316deg) brightness(104%) contrast(105%);
  --govcolor-svg-white-smoke: invert(99%) sepia(3%) saturate(16%) hue-rotate(60deg) brightness(117%) contrast(91%);
  --govcolor-svg-portage: invert(59%) sepia(73%) saturate(228%) hue-rotate(182deg) brightness(92%) contrast(91%);
  --govcolor-svg-red: invert(27%) sepia(63%) saturate(4192%) hue-rotate(335deg) brightness(63%) contrast(120%);
  --govcolor-svg-orange: invert(43%) sepia(42%) saturate(1692%) hue-rotate(338deg) brightness(94%) contrast(100%);
  --govcolor-svg-yellow: invert(66%) sepia(75%) saturate(547%) hue-rotate(339deg) brightness(103%) contrast(98%);
  --govcolor-svg-green: invert(35%) sepia(93%) saturate(345%) hue-rotate(110deg) brightness(98%) contrast(98%);
  --govcolor-svg-tulip: invert(65%) sepia(56%) saturate(490%) hue-rotate(351deg) brightness(93%) contrast(95%);
}

/* Verdana-Regular */
@font-face {
  font-family: 'Verdana-Regular';
  src: url('../assets/fonts/Verdana/static/Verdana-Regular.ttf');
}

.govcolor-cobalt {
  color: var(--govcolor-cobalt);
}

.govco-bg-cobalt {
  background-color: var(--govcolor-cobalt);
}

.govco-svg-cobalt {
  filter: var(--govcolor-svg-cobalt);
}

.govcolor-black {
  color: var(--govcolor-black);
}

.govco-bg-black {
  background-color: var(--govcolor-black);
}

.govco-svg-black {
  filter: var(--govcolor-svg-black);
}

.govcolor-matterhorn {
  color: var(--govcolor-matterhorn);
}

.govco-bg-matterhorn {
  background-color: var(--govcolor-matterhorn);
}

.govco-svg-matterhorn {
  filter: var(--govcolor-svg-matterhorn);
}

.govcolor-grey {
  color: var(--govcolor-grey);
}

.govco-bg-grey {
  background-color: var(--govcolor-grey);
}

.govco-svg-grey {
  filter: var(--govcolor-svg-grey);
}

.govcolor-white {
  color: var(--govcolor-white);
}

.govco-bg-white {
  background-color: var(--govcolor-white);
}

.govco-svg-white {
  filter: var(--govcolor-svg-white);
}

.govcolor-havelock-lue {
  color: var(--govcolor-havelock-lue);
}

.govco-bg-havelock-lue {
  background-color: var(--govcolor-havelock-lue);
}

.govco-svg-havelock-lue {
  filter: var(--govcolor-svg-havelock-lue);
}

.govcolor-tropical-blue {
  color: var(--govcolor-tropical-blue);
}

.govco-bg-tropical-blue {
  background-color: var(--govcolor-tropical-blue);
}

.govco-svg-tropical-blue {
  filter: var(--govcolor-svg-tropical-blue);
}

.govcolor-golden-brown {
  color: var(--govcolor-golden-brown);
}

.govco-bg-golden-brown {
  background-color: var(--govcolor-golden-brown);
}

.govco-svg-golden-brown {
  filter: var(--govcolor-svg-golden-brown);
}

.govcolor-sunglow {
  color: var(--govcolor-sunglow);
}

.govco-bg-sunglow {
  background-color: var(--govcolor-sunglow);
}

.govco-svg-sunglow {
  filter: var(--govcolor-svg-sunglow);
}

.govcolor-vis-vis {
  color: var(--govcolor-vis-vis);
}

.govco-bg-vis-vis {
  background-color: var(--govcolor-vis-vis);
}

.govco-svg-vis-vis {
  filter: var(--govcolor-svg-vis-vis);
}

.govcolor-silver {
  color: var(--govcolor-silver);
}

.govco-bg-silver {
  background-color: var(--govcolor-silver);
}

.govco-svg-silver {
  filter: var(--govcolor-svg-silver);
}

.govcolor-solitude {
  color: var(--govcolor-solitude);
}

.govco-bg-solitude {
  background-color: var(--govcolor-solitude);
}

.govco-svg-solitude {
  filter: var(--govcolor-svg-solitude);
}

.govcolor-corn-silk {
  color: var(--govcolor-corn-silk);
}

.govco-bg-corn-silk {
  background-color: var(--govcolor-corn-silk);
}

.govco-svg-corn-silk {
  filter: var(--govcolor-svg-corn-silk);
}

.govcolor-white-smoke {
  color: var(--govcolor-white-smoke);
}

.govco-bg-white-smoke {
  background-color: var(--govcolor-white-smoke);
}

.govco-svg-white-smoke {
  filter: var(--govcolor-svg-white-smoke);
}

.govcolor-portage {
  color: var(--govcolor-portage);
}

.govco-bg-portage {
  background-color: var(--govcolor-portage);
}

.govco-svg-portage {
  filter: var(--govcolor-svg-portage);
}

.govcolor-red {
  color: var(--govcolor-red);
}

.govco-bg-red {
  background-color: var(--govcolor-red);
}

.govco-svg-red {
  filter: var(--govcolor-svg-red);
}

.govcolor-orange {
  color: var(--govcolor-orange);
}

.govco-bg-orange {
  background-color: var(--govcolor-orange);
}

.govco-svg-orange {
  filter: var(--govcolor-svg-orange);
}

.govcolor-yellow {
  color: var(--govcolor-yellow);
}

.govco-bg-yellow {
  background-color: var(--govcolor-yellow);
}

.govco-svg-yellow {
  filter: var(--govcolor-svg-yellow);
}

.govcolor-green {
  color: var(--govcolor-green);
}

.govco-bg-green {
  background-color: var(--govcolor-green);
}

.govco-svg-green {
  filter: var(--govcolor-svg-green);
}

.govcolor-tulip {
  color: var(--govcolor-tulip);
}

.govco-bg-tulip {
  background-color: var(--govcolor-tulip);
}

.govco-svg-tulip {
  filter: var(--govcolor-svg-tulip);
}