@import url('blocks/gallery.css');

/* NUEVO - Agregar carrusel */
@import url('blocks/gallery-carousel.css');

/** Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    line-height: 1.8;
}
.wp-block-site-logo__default {
    margin: .5rem 0 !important;
}
.wp-block-site-logo__default > img{
    width: 50px;
}
.edusiteco-menu-main{
    padding: 0 5rem;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.edusiteco-footer-container {
  border-top: 1px solid var(--wp--preset--color--gray-100);
  padding-top: 2rem;
}