<!-- wp:template-part{"slug":"header","tagName":"header"} /-->

<main class="edusiteco-main-container container">
    <h2>Inicio</h2>
    <!-- wp:paragraph -->
    <p>Bienvenido a nuestro sitio web institucional. Aquí encontrará información relevante sobre nuestra entidad, servicios y noticias actualizadas.</p>
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    <p>Explore nuestro sitio para conocer más sobre quiénes somos, qué hacemos y cómo podemos ayudarle.</p>
    <!-- /wp:paragraph -->

<!-- wp:template-part{"slug":"footer","tagName":"footer"} /-->