<!-- wp:template-part {"slug":"header"} /-->


<main class="edusiteco-main-container container">
    h2 Inicio
    <!-- wp:paragraph -->
    p Bienvenido a nuestro sitio web institucional. Aquí encontrará información relevante sobre nuestra entidad, servicios y noticias actualizadas.
    <!-- /wp:paragraph -->

    <!-- wp:paragraph -->
    p Explore nuestro sitio para conocer más sobre quiénes somos, qué hacemos y cómo podemos ayudarle.
    <!-- /wp:paragraph -->
</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->