@charset "UTF-8";
/**
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Carga de archivo
 *  - Version: 5.0.0
*/

:root {  
  --govcolor-cobalt: #0943B5;
  --govcolor-black: #000000;
  --govcolor-grey: #7E7E7E;
  --govcolor-white: #FFFFFF;
  --govcolor-havelock-lue: #4672C8;
  --govcolor-golden-brown: #9D7700;
  --govcolor-silver: #B9B9B9;
  --govcolor-red: #A80521;
  --govcolor-matterhorn: #4C4C4C;
}

/* Verdana-Regular */
@font-face {
  font-family: 'Verdana-Regular';
  src: url('../assets/fonts/Verdana/static/Verdana-Regular.ttf');
}

/* Fuente iconografica */
@font-face {
  font-family: "govco-fontv5";
  src: url("../assets/icons/fonts/gov-co-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.govco-icon::after {
  font-family: "govco-fontv5";
}

.govco-icon.govco-file-alt:after {
  content: "\e8fe";
}

.govco-icon.govco-trash:after {
  content: "\eaa5";
}

.carga-archivo-govco .loader-carga-archivo-govco {
  margin-bottom: 0.438rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}

.carga-archivo-govco .all-input-carga-archivo-govco {
  display: inline-block;
  position: relative;
}

.carga-archivo-govco .label-carga-archivo-govco {
  font-family: 'Verdana-Regular';
  font-size: 15px;
  color: var(--govcolor-black);
  display: block;
}

.carga-archivo-govco .input-carga-archivo-govco {
  opacity: 0;
  position: absolute;
  height: 70%;
  width: 100%;
  top: 0;
  cursor: pointer;
  padding-left: 0.313rem;
}

.carga-archivo-govco .container-input-carga-archivo-govco {
  padding: 0.125rem;
  height: 100%;
  display: flex;
  justify-content: start;
  margin-top: 0.5rem;
  margin-bottom: 0.688rem;
  max-width: 24.375rem;
  margin-left: 0.188rem;
}

.carga-archivo-govco .container-input-carga-archivo-govco .button-file-carga-archivo-govco {
  width: 11.625rem;
  height: 2.625rem;
  background-color: var(--govcolor-cobalt);
  border-radius: 0.313rem 0 0 0.313rem;
  font-family: 'Verdana-Regular';
  font-size: 15px;
  color: var(--govcolor-white);
  text-align: center;
  padding: 0.5rem 0.875rem 0.438rem 0.875rem;
}

.carga-archivo-govco .container-input-carga-archivo-govco .file-name-carga-archivo-govco {
  width: 13.75rem;
  height: 2.625rem;
  background-color: var(--govcolor-white);
  border: 0.125rem solid var(--govcolor-silver);
  border-left: 0;
  border-radius: 0 0.313rem 0.313rem 0;
  font-family: 'Verdana-Regular';
  font-size: 15px;
  color: var(--govcolor-silver);
  padding: 0.438rem 0.313rem 0.438rem 0.313rem;
}

.carga-archivo-govco .container-input-carga-archivo-govco .button-file-carga-archivo-govco,
.carga-archivo-govco .container-input-carga-archivo-govco .file-name-carga-archivo-govco {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  line-height: 1.625rem;
}

.carga-archivo-govco .text-validation-carga-archivo-govco {
  margin-top: 0.938rem;
  color: var(--govcolor-black);
  font-family: 'Verdana-Regular';
  font-size: 15px;
  display: flex;
  flex-direction: row;
  column-gap: 0.313rem;
}

.carga-archivo-govco .button-loader-carga-archivo-govco {
  background-color: var(--govcolor-grey);
  min-width: 10.313rem;
  height: 2.625rem;
  border-radius: 1.563rem;
  color: var(--govcolor-white);
  font-family: 'Verdana-Regular';
  font-size: 15px;
  border: 0.063rem solid var(--govcolor-grey);
  display: inline-block;
}

.carga-archivo-govco .button-loader-carga-archivo-govco.inactive {
  pointer-events: none;
}

.carga-archivo-govco .container-detail-carga-archivo-govco {
  border-top: 0.063rem solid var(--govcolor-golden-brown);
  margin-top: 0.813rem;
  display: none;
}

.carga-archivo-govco .attached-files-carga-archivo-govco {
  padding-top: 0.813rem;
  display: flex;
  flex-wrap: wrap;
}

.carga-archivo-govco .input-carga-archivo-govco[data-error="true"]+.label-carga-archivo-govco {
  color: var(--govcolor-red);
}

.carga-archivo-govco .alert-carga-archivo-govco {
  color: var(--govcolor-red);
  font-family: 'Verdana-Regular';
  font-size: 16px;
  display: block;
  padding-top: 0.813rem;
}

.carga-archivo-govco .attached-file-carga-archivo-govco {
  width: 19.625rem;
  height: 4.25rem;
  background-color: var(--govcolor-cobalt);
  border: 0.063rem solid var(--govcolor-cobalt);
  color: var(--govcolor-white);
  border-radius: 0.313rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.carga-archivo-govco .attached-file-carga-archivo-govco span {
  color: var(--govcolor-white);
  font-family: 'Verdana-Regular';
  font-size: 15px;
  display: block;
}

.carga-archivo-govco .icon-text-carga-archivo-govco {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  margin-left: 1rem;
}

.carga-archivo-govco .file-alt-carga-archivo-govco::after {
  color: var(--govcolor-white);
  font-size: 32px;
}

.carga-archivo-govco .container-text-name-carga-archivo-govco {
  max-width: 12.5rem;
}

.carga-archivo-govco .text-name-carga-archivo-govco {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carga-archivo-govco .trash-alt-1-carga-archivo-govco {
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 0;
  line-height: 1;
  padding: 0.188rem 0.375rem;
}

.carga-archivo-govco .trash-alt-1-carga-archivo-govco::after {
  width: 2.188rem;
  height: auto;
  display: inline-block;
  cursor: pointer;
  color: var(--govcolor-white);
  font-size: 21px;
}

.carga-archivo-govco .load-button-carga-archivo-govco {
  display: flex;
}

.carga-archivo-govco .load-carga-archivo-govco {
  padding: 0 1.188rem;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.carga-archivo-govco .input-carga-archivo-govco:focus-visible~.container-input-carga-archivo-govco {
  border-radius: 0.313rem;
  outline: 0.125rem solid var(--govcolor-black);
}

.carga-archivo-govco .button-loader-carga-archivo-govco:focus-visible,
.carga-archivo-govco .attached-file-carga-archivo-govco:focus-visible {
  outline: 0.125rem solid var(--govcolor-black);
  outline-offset: 0.125rem;
}

.carga-archivo-govco .input-carga-archivo-govco:hover~.container-input-carga-archivo-govco .button-file-carga-archivo-govco,
.carga-archivo-govco .input-carga-archivo-govco:focus~.container-input-carga-archivo-govco .button-file-carga-archivo-govco,
.carga-archivo-govco .attached-file-carga-archivo-govco:hover,
.carga-archivo-govco .attached-file-carga-archivo-govco:focus,
.carga-archivo-govco .attached-file-carga-archivo-govco:focus-within {
  background-color: var(--govcolor-havelock-lue);
}

.carga-archivo-govco .attached-file-carga-archivo-govco .trash-alt-1-carga-archivo-govco:focus-visible {
  outline: 0.125rem solid var(--govcolor-black);
  outline-offset: -0.125rem;
}

.carga-archivo-govco .input-carga-archivo-govco:disabled {
  cursor: default;
}

.carga-archivo-govco .input-carga-archivo-govco.active:disabled ~ .container-input-carga-archivo-govco .button-file-carga-archivo-govco {
  background-color: var(--govcolor-silver);
  color: var(--govcolor-white);
  border-color: var(--govcolor-silver);
  cursor: default;
}

.carga-archivo-govco .input-carga-archivo-govco.active:disabled ~ .container-input-carga-archivo-govco .file-name-carga-archivo-govco {
  background-color: var(--govcolor-silver);
  border: 1px solid var(--govcolor-matterhorn);
  color: var(--govcolor-matterhorn);
  cursor: default;
}

.carga-archivo-govco .input-carga-archivo-govco.active:disabled ~ .label-carga-archivo-govco,
.carga-archivo-govco .input-carga-archivo-govco.active:disabled ~ .text-validation-carga-archivo-govco {
  color: var(--govcolor-silver);
}

.carga-archivo-govco .input-carga-archivo-govco:not(.active):disabled ~ .container-input-carga-archivo-govco .button-file-carga-archivo-govco {
  background-color: var(--govcolor-grey);
  border-color: var(--govcolor-grey);
  cursor: default;
}

.carga-archivo-govco .button-loader-carga-archivo-govco:disabled {
  background-color: var(--govcolor-silver);
  border-color: var(--govcolor-silver);
}

.carga-archivo-govco .spinner-indicador-de-carga-govco {
  width: 2rem;
  height: 2rem;
  border-width: 0.188rem;
  display: inline-block;
  vertical-align: -0.125em;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
  border-color: var(--govcolor-cobalt);
  border-style: solid;
  border-right-color: transparent;
  position: relative;
}

@media (max-width: 630px) {
  .carga-archivo-govco .loader-carga-archivo-govco {
    display: block;
  }

  .carga-archivo-govco .load-button-carga-archivo-govco {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .carga-archivo-govco .all-input-carga-archivo-govco {
    width: 100%;
  }

  .carga-archivo-govco .container-input-carga-archivo-govco {
    margin-left: 0;
    margin-bottom: 0.625rem;
  }

  .carga-archivo-govco .attached-file-carga-archivo-govco {
    width: 100%;
    margin: 0;
    margin-bottom: 0.625rem;
  }

  .carga-archivo-govco .container-text-name-carga-archivo-govco {
    max-width: 18.75rem;
  }

  .carga-archivo-govco .text-validation-carga-archivo-govco {
    flex-direction: column;
  }

  .carga-archivo-govco .load-carga-archivo-govco {
    padding: 0 2.375rem;
  }
}
