@charset "UTF-8";
/**
 * Gov.co (https://www.gov.co) - Gobierno de Colombia
 *  - Componente: Desplegable
 *  - Version: 5.0.0
*/

html {
  font-size: 100%;
  /* 100% = 16px */
}

:root {
  --govcolor-cobalt: #0943B5;
  --govcolor-black: #000000;
  --govcolor-matterhorn: #4C4C4C;
  --govcolor-white: #FFFFFF;
  --govcolor-havelock-lue: #4672C8;
  --govcolor-tropical-blue: #B5C7E9;
  --govcolor-silver: #B9B9B9;
  --govcolor-silver-dis: #C8C8C8;
  --govcolor-solitude: #E5ECF8;
  --govcolor-red: #A80521;
}

/* Nunito_Sans-Bold */
@font-face {
  font-family: 'Nunito_Sans-Bold';
  src: url('../assets/fonts/Nunito_Sans/static/NunitoSans-Bold.ttf');
}

/* Verdana-Regular */
@font-face {
  font-family: 'Verdana-Regular';
  src: url('../assets/fonts/Verdana/static/Verdana-Regular.ttf');
}

/* Fuente iconografica */
@font-face {
  font-family: "govco-fontv5";
  src: url("../assets/icons/fonts/gov-co-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.govco-icon::after {
  font-family: "govco-fontv5";
}

.govco-icon.govco-angle-down:after {
  content: "\e815";
}

.govco-icon.govco-times:after {
  content: "\ea95";
}

.govco-icon.govco-exclamation-circle:after {
  content: "\e8e9";
}

.desplegable-govco {
  width: 15.938rem;
  font-family: 'Verdana-Regular';
  font-size: 0.938rem;
  color: var(--govcolor-matterhorn);
  display: flex;
  flex-direction: column;
}

.desplegable-govco > label {
  font-family: 'Verdana-Regular';
  font-size: 0.938rem;
  color: var(--govcolor-matterhorn);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.desplegable-govco .container-dropdown {
  position: relative;
}

.desplegable-govco .btn-dropdown,
.desplegable-govco input[type="text"].btn-dropdown,
.desplegable-govco button.btn-dropdown {
  font-family: 'Verdana-Regular';
  border: 0.063rem solid var(--govcolor-matterhorn);
  background-color: var(--govcolor-white);
  color: var(--govcolor-matterhorn);
  border-radius: 0.313rem;
  width: 100%;
  text-align: left;
  padding: 0.688rem 1.75rem 0.688rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.938rem;
  line-height: 1;
  margin: 0;
  height: auto;
  box-sizing: border-box;
}

.desplegable-govco input[type="text"].btn-dropdown {
  padding: 0.625rem 1.75rem 0.625rem 1rem;
}

.desplegable-govco:not(.calendar-govco) .btn-dropdown[aria-expanded="false"],
.desplegable-govco:not(.calendar-govco) input[type="text"].btn-dropdown[aria-expanded="false"],
.desplegable-govco:not(.calendar-govco) button.btn-dropdown[aria-expanded="false"] {
  box-shadow: none;
}

.desplegable-govco input.btn-dropdown::placeholder {
  color: var(--govcolor-matterhorn);
}

.desplegable-govco .input-group {  
  position: absolute;
  top: 0;
  right: 0;
  justify-content: end;
  background-color: transparent;
  width: auto;
  align-items: center;
  cursor: pointer;
  height: 2.5rem;
}

.desplegable-govco .input-group-text {
  padding: 0;
  margin: 0;
  background-color: transparent;
  width: 2.125rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desplegable-govco .input-group-text::after {
  color: var(--govcolor-havelock-lue);
}

.desplegable-govco .desplegable-arrow-active .btn-dropdown ~ .input-group .input-group-text::after,
.desplegable-govco .btn-dropdown[aria-expanded="true"] ~ .input-group .input-group-text::after {
  color: var(--govcolor-cobalt);
}

.desplegable-govco button.input-group-text::after {
  font-size: 1.875rem;
}

.desplegable-govco span.input-group-text::after {
  font-size: 0.625rem;
}

.desplegable-govco .btn-dropdown:disabled {
  cursor: default;
  border-color: var(--govcolor-matterhorn);
  background-color: var(--govcolor-silver-dis);
  outline: 0;
}

.desplegable-govco .btn-dropdown:disabled + .input-group .input-group-text::after {
  color: var(--govcolor-matterhorn);
}

.desplegable-govco span.alert-desplegable-govco {
  margin-top: 1rem;
  display: inline-block;
}

.desplegable-govco .btn-dropdown:after {
  font-size: 1.25rem;
}

.desplegable-govco .btn-dropdown:not(:disabled):hover,
.desplegable-govco .btn-dropdown[aria-expanded="true"],
.desplegable-govco input[type="text"].btn-dropdown[aria-expanded="true"],
.desplegable-govco button.btn-dropdown[aria-expanded="true"],
.desplegable-govco .desplegable-arrow-active .btn-dropdown {
  border-color: var(--govcolor-havelock-lue);
}

.desplegable-govco .btn-dropdown:focus-visible {
  border-color: var(--govcolor-tropical-blue);
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  outline-offset: max(0.125rem, 0.125rem);
}

.desplegable-govco .btn-dropdown[aria-expanded="true"],
.desplegable-govco .btn-dropdown[aria-expanded="true"]:not(.browser-default):focus-visible:not([readonly]),
.desplegable-govco .desplegable-arrow-active .btn-dropdown {
  box-shadow: 0 0.25rem 0 #3366CC24;
}

.desplegable-govco .dropdown-options-govco {
  border-radius: 0.125rem;
  border: 0.063rem solid var(--govcolor-havelock-lue);
  background-color: var(--govcolor-white);
  box-shadow: 0 0.188rem 0.375rem #00000029;
  width: 100%; 
  z-index: 1;
  padding: 0.25rem 0.25rem 0.25rem 0;
}

.desplegable-govco .dropdown-options-govco ul {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 11.375rem; 
  scrollbar-color: var(--govcolor-cobalt) var(--govcolor-solitude);
  scrollbar-width: thin;
}
    
.desplegable-govco .dropdown-options-govco ul::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--govcolor-solitude);
  border-radius: 0.75rem;
}

.desplegable-govco .dropdown-options-govco ul::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  box-shadow: 0 0.188rem 0.375rem #00000029;
  background-clip: padding-box;
  background-color: var(--govcolor-cobalt);
  border: 0.125rem solid var(--govcolor-solitude);
}

.desplegable-govco .dropdown-item {
  padding: 0.875rem 0.625rem;
  line-height: 1.125rem;
  color: var(--govcolor-matterhorn);
  display: flex;
  align-items: center;
  cursor: pointer;
  text-wrap: wrap;
  margin: 0;
}

.desplegable-govco:not(.check-govco) .dropdown-item {
  font-size: 0.938rem;
}

.desplegable-govco .dropdown-item:not(.active):hover {
  background-color: var(--govcolor-tropical-blue);
  color: var(--govcolor-matterhorn);
}

.desplegable-govco .dropdown-item:not(.active):active {
  color: var(--govcolor-matterhorn);
}

.desplegable-govco .dropdown-item:focus-visible {
  background-color: var(--govcolor-tropical-blue);
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  outline-offset: max(0.125rem, 0.125rem);
}

.desplegable-govco .dropdown-item.active {
  color: var(--govcolor-white);
  background-color: var(--govcolor-cobalt);
}

.desplegable-govco input[aria-invalid="true"]  + .btn-dropdown,
.desplegable-govco input[aria-invalid="true"]  + .btn-dropdown:hover,
.desplegable-govco input[aria-invalid="true"]  + .btn-dropdown:focus-visible,
.desplegable-govco input[type="text"][aria-invalid="true"],
.desplegable-govco input[type="text"][aria-invalid="true"]:hover,
.desplegable-govco input[type="text"][aria-invalid="true"]:focus-visible {
  border-color: var(--govcolor-red)!important;
}

.desplegable-govco input[aria-invalid="true"] ~ .input-group span:after,
.desplegable-govco input[aria-invalid="true"]  ~ span {
  color: var(--govcolor-red)!important;
}


/* Filtro de búsqueda */
.desplegable-govco.filter-govco .btn-dropdown {
  padding-right: 3.875rem;
}

.desplegable-govco.filter-govco button.input-group-text.govco-times::after {
  font-size: 1rem;
}

.desplegable-govco.filter-govco span.input-group-text.govco-exclamation-circle::after {
  font-size: 1.375rem;
}

.desplegable-govco.filter-govco .icon-close-govco {
  border-right: 0.063rem solid var(--govcolor-silver-dis);
}

.desplegable-govco.filter-govco .icon-close-govco:focus-visible {
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  border-radius: 0;
}

.desplegable-govco.filter-govco input[aria-invalid="false"] ~ .input-group .govco-exclamation-circle,
.desplegable-govco.filter-govco input[aria-invalid="true"] ~ .input-group .govco-angle-down {
  display: none;
}

.desplegable-govco.filter-govco input[aria-invalid="true"] ~ .input-group .govco-exclamation-circle,
.desplegable-govco.filter-govco input[aria-invalid="false"] ~ .input-group .govco-angle-down {
  display: flex;
}

.desplegable-govco.filter-govco .btn-dropdown:disabled + .input-group .icon-close-govco {
  border-right: 0.063rem solid var(--govcolor-matterhorn);
}


/* Casillas de verificación */
.desplegable-govco.check-govco .btn-dropdown {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.desplegable-govco.check-govco .dropdown-item label {
  font-size: 0.938rem;
  margin: 0;
}

.desplegable-govco.check-govco .dropdown-item {
  padding: 0.688rem 0.625rem;
  min-height: 2.875rem;
}

/* Opciones de seleccion */
/* checkbox */
.checkbox-seleccion-govco {
  display: block;
  cursor: pointer;
}

.checkbox-seleccion-govco label {
  font-size: 15px;
  color: #4c4c4c;
  font-family: "Verdana-Regular";
}

.checkbox-seleccion-govco input[type="checkbox"] + label {
  color: #4c4c4c;
  font-size: 15px;
  cursor: pointer;
}

.checkbox-seleccion-govco input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #0943b5;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid #0943b5;
  transform: translateY(-0.075em);
  border-radius: 0.25rem;
  display: inline-grid;
  place-content: center;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.25em;
  position: relative !important;
  opacity: 1 !important;
  cursor: pointer;
}

.checkbox-seleccion-govco input[type="checkbox"]:checked::after {
  font-family: "govco-fontv5";
  content: "\e889";
  color: var(--govcolor-white);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-seleccion-govco input[type="checkbox"]:not(:checked),
.checkbox-seleccion-govco input[type="checkbox"]:checked {
  pointer-events: auto !important;
}

.checkbox-seleccion-govco input[type="checkbox"]:checked {
  background-color: #0943b5;
}

.checkbox-seleccion-govco input[type="checkbox"]:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
}

.checkbox-seleccion-govco input[type="checkbox"]:disabled {
  border: 0.188rem solid #b9b9b9;
}

.checkbox-seleccion-govco input[type="checkbox"]:checked:disabled {
  background-color: #b9b9b9;
}

.checkbox-seleccion-govco input[type="checkbox"]:disabled + label {
  color: #b9b9b9;
}

/* switch */
.switch-seleccion-govco {
  margin: 0;
  padding: 0;
  margin-bottom: 0.938rem;
  align-items: center;
  display: flex;
}

.switch-seleccion-govco label {
  font-size: 15px;
  color: #4c4c4c;
  font-family: "Verdana-Regular";
}

.switch-seleccion-govco input {
  padding: 0;
  margin: 0 !important;
  cursor: pointer;
  border: 0.063rem solid #0943b5;
  height: 1.25rem;
  width: 2.25rem !important;
  position: relative !important;
  opacity: 1 !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.8' fill='rgba(9, 67, 181)'/></svg>") !important;
}

.switch-seleccion-govco input:checked {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.8' fill='%23fff'/></svg>") !important;
  background-color: #0943b5;
  border: 0.063rem solid #0943b5;
}

.switch-seleccion-govco input:disabled {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.8' fill='%23fff'/></svg>") !important;
  background-color: #bababa;
  border: 0.063rem solid #b9b9b9;
}

.switch-seleccion-govco input:checked:disabled {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.8' fill='%23fff'/></svg>") !important;
  background-color: #b9b9b9;
}

.switch-seleccion-govco input:disabled + label {
  color: #b9b9b9;
}

.switch-seleccion-govco input:focus-visible {
  outline: 0.125rem solid black;
  outline-offset: 0.188rem;
  box-shadow: none !important;
}

.switch-seleccion-govco label {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  display: initial;
  margin-left: 0.5rem;
  font-size: 15px;
  font-family: "Verdana-Regular";
}

/* Radio button */
.radio-seleccion-govco {
  margin-bottom: 0.125rem;
}

.radio-seleccion-govco input[type="radio"] + label {
  color: #4c4c4c;
  font-size: 15px;
  font-family: "Verdana-Regular";
  margin: 0;
  line-height: 1.375rem;
  cursor: pointer;
}

.radio-seleccion-govco input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #0943b5;
  width: 1.15em;
  height: 1.15em;
  border: 0.1667rem solid #0943b5;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: inline-grid;
  place-content: center;
  float: left;
  margin-right: 0.5em;
  margin-top: 0.25em;
  position: relative !important;
  opacity: 1 !important;
}

.radio-seleccion-govco input[type="radio"]:hover {
  border: 0.15em solid #004884;
}

.radio-seleccion-govco input[type="radio"]:disabled {
  border: 0.15em solid #b9b9b9;
}

.radio-seleccion-govco input[type="radio"]:disabled + label {
  color: #b9b9b9;
}

.radio-seleccion-govco input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0943b5;
}

.radio-seleccion-govco input[type="radio"]:hover::before {
  box-shadow: inset 1em 1em #004884;
}

.radio-seleccion-govco input[type="radio"]:disabled::before {
  box-shadow: inset 1em 1em #b9b9b9;
}

.radio-seleccion-govco input[type="radio"]:checked::before {
  transform: scale(1);
}

.radio-seleccion-govco input[type="radio"]:focus-visible {
  outline: max(0.125rem, 0.15em) solid #000000;
  outline-offset: max(0.125rem, 0.15em);
}

.radio-seleccion-govco input[type="radio"]:not(:checked),
.radio-seleccion-govco input[type="radio"]:checked {
  pointer-events: all !important;
  cursor: pointer;
}

/* Calendario */
.govco-icon.govco-angle-left:after {
  content: "\e813";
}

.govco-icon.govco-angle-right:after {
  content: "\e814";
}

.govco-icon.govco-calendar-alt:after {
  content: "\e866";
}

.desplegable-govco span.input-group-text.govco-calendar-alt::after {
  font-size: 0.875rem;
}

.desplegable-govco.calendar-govco .dropdown-options-govco {
  overflow: hidden;
  max-height: initial;
  padding: 0.625rem 0.563rem 0.375rem 0.563rem;
  display: none;
  position: absolute;
  inset: 0 auto auto 0;
  margin: 0;
  transform: translate(0, 2.625rem);
}

.desplegable-govco.calendar-govco .dropdown-options-govco.show{
  display: block;
}

.desplegable-govco.calendar-govco .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desplegable-govco.calendar-govco .header button {
  border: 0;
  background-color: transparent;
  margin-bottom: 0.625rem;
  padding: 0;
  line-height: 1.5;
}

.desplegable-govco.calendar-govco .header button:focus-visible {
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  outline-offset: max(0.125rem, 0.125rem);
}

.desplegable-govco.calendar-govco .header button.show-months-year {
  width: 100%;
  line-height: 1.7;
}

.desplegable-govco.calendar-govco .header .govco-icon:after {
  color: var(--govcolor-cobalt);
  font-size: 1rem;
}

.desplegable-govco.calendar-govco .header button span {
  font-family: 'Nunito_Sans-Bold';
  font-size: 1rem;
  color: var(--govcolor-matterhorn);
}
  
.desplegable-govco.calendar-govco table,
.desplegable-govco.calendar-govco table thead,
.desplegable-govco.calendar-govco table tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: var(--govcolor-white);
}

.desplegable-govco.calendar-govco table {
  gap: 0.125rem;
  margin: 0;
}

.desplegable-govco.calendar-govco table thead tr,
.desplegable-govco.calendar-govco table tbody tr {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  background-color: transparent;
  border: 0;
}

.desplegable-govco.calendar-govco table thead tr th {
  font-family: 'Verdana-Regular';
  font-size: 0.875rem;
  color: var(--govcolor-matterhorn);
  font-weight: normal;
  width: 2rem;
  height: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.desplegable-govco.calendar-govco table tbody tr td {
  padding: 0;
}

.desplegable-govco.calendar-govco table tbody tr td button {
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: transparent;
  padding: 0;
  font-family: 'Verdana-Regular';
  font-size: 0.875rem;
  color: var(--govcolor-matterhorn);
  border-radius: 0.25rem;
}

.desplegable-govco.calendar-govco table tbody tr td button.disabled {
  color: var(--govcolor-silver-dis);
  cursor: default;
}

.desplegable-govco.calendar-govco table tbody tr td button:not(.disabled):not(.selected):hover {
  background-color: var(--govcolor-tropical-blue);
}

.desplegable-govco.calendar-govco table tbody tr td button:focus-visible {
  background-color: var(--govcolor-tropical-blue);
  outline: max(0.125rem, 0.125rem) solid var(--govcolor-black);
  outline-offset: max(0.125rem, 0.125rem);
}

.desplegable-govco.calendar-govco button.selected:not(.disabled), 
.desplegable-govco.calendar-govco button.selected:not(.disabled), 
.desplegable-govco.calendar-govco button.selected:not(.disabled) {
  color: var(--govcolor-white);
  background-color: var(--govcolor-havelock-lue);
}

.desplegable-govco.calendar-govco table.months tbody tr td button,
.desplegable-govco.calendar-govco table.years tbody tr td button {
  width: 3.5rem;
  height: 3.75rem;
}
